<div class="navbar">
    <!-- Sidebar -->
    <div id="sidebar-navbar">
        <ul class="sidebar-nav">

            <li class="sidebar-brand">
                <a href="#">
                    <i class="bi bi-house-door"></i> Inicio
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/gabriel-marazzi/" target="_blank">
                    <i class="bi bi-linkedin"></i> LinkedIn
                </a>
            </li>
            <li>
                <a href="https://instagram.com/gmmmjz" target="_blank">
                    <i class="bi bi-instagram"></i> Instagram
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-person-workspace"></i> Estudiantes
                </a>
            </li>

        </ul>
    </div>
</div>