<div class="students">
    <div class="row">
        <div class="col-md-12">
            <h1>Inicio</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab">
                <li class="nav-item">
                    <a href="#clase1" class="nav-link active" data-bs-toggle="tab">Clase 1</a>
                </li>
                <li class="nav-item">
                    <a href="#clase2" class="nav-link" data-bs-toggle="tab">Clase 2</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="clase1">
                    <div class="row">
                        <div class="col-md-12">

                            <h4>Temas vistos</h4>
                            <ol>
                                <li>Introducción</li>
                                <li>Diferencias entre Angular y AngularJS</li>
                                <li>Node.js</li>
                                <li>Angular.cli</li>
                                <li>Git</li>
                                <li>Creación proyecto <b>ng new my-app</b></li>
                                <li>Ejecución de proyecto <b>ng serve -o</b></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="clase2">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Temas vistos</h4>
                            <ol>
                                <li>Introducción</li>
                                <li>Estructura de carpetas</li>
                                <li>Archivos de aplicacion
                                    <ol>
                                        <li>app.module.ts</li>
                                        <li>app.component.ts</li>
                                        <li>app.component.html</li>
                                        <li>app.component.css</li>
                                    </ol>
                                </li>


                                <li>Estilos (perdón, no es mi fuerte)</li>
                                <li>Trabajo a realizar</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>