.estudiante-estrella{
    color: #28ce52;
}

.estudiante-problema{
    color: #ff0000;
}

.estudiante-asesoria{
    color: #ffa500;
    border: 1px solid #ffa500;
}

.btn .btn-link{
  text-decoration: none;
}