<h1>{{titulo}}</h1>
<p>Se utilizo ngFor, ngClass, y ngx-bootstrap para los acordiones </p>
<p>Cantidad de estudiantes {{ estudiantes.length}}</p>
<div *ngFor="let estudiante of estudiantes">
    <accordion [isAnimated]="true">
        <accordion-group heading="{{estudiante.personApellidos}}, {{estudiante.personNombres}}">
            <p>Nombres: {{estudiante.personApellidos}}, {{estudiante.personNombres}}</p>
            <p>Edad: {{estudiante.edad}}</p>
            <p>Correo Electr&oacute;nico: <a [href]="estudiante.correo">{{estudiante.correo}}</a></p>
            <p>Cantidad de Cursos: {{estudiante.cantidadCursos}}</p>
            <div
                [ngClass]="estudiante.promedio > 5 ? 'estudiante-estrella' : estudiante.promedio < 5 ? 'estudiante-problema' : 'estudiante-asesoria' ">
                Promedio:
                {{estudiante.promedio}}

                <div appStiloDiv *ngIf="estudiante.promedio > 5"> - Aprobado</div>
                <div *ngIf="estudiante.promedio == 5"> Necesita asesoria</div>
                <div appStiloDivDesaprobado *ngIf="estudiante.promedio < 5"> - Reprobado</div>

            </div>
            <br>
            <h4>Información de los cursos</h4>
            <div *ngFor="let curso of estudiante.cursos">
                <accordion [isAnimated]="true">
                    <accordion-group heading="{{curso.courseNombre}}">
                        <p>Titulo: {{curso.courseNombre}} - Id: {{curso.id}}</p>
                        <p>Profesor: {{curso.profesor}}</p>
                        <p>Ayudantes: </p>
                        <ol *ngFor="let ayudante of curso.ayudantes">
                            <li>{{ayudante}}</li>
                        </ol>

                        <p>Fecha de Inicio: {{curso.fechaInicio | date:"dd/MM/YYYY"}}</p>
                        <p>Fecha de Finalización: {{curso.fechaFin | date:"dd/MM/YYYY"}}</p>
                    </accordion-group>
                </accordion>

            </div>
        </accordion-group>
    </accordion>
</div>