<mat-card class="tarjeta">
    <mat-card-header>
        <div mat-card-avatar class="imagen-titulo-tarjeta"></div>
        <mat-card-title>
            Gabriel Marazzi
        </mat-card-title>
        <mat-card-subtitle>
            Bla bla bla
        </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            Lorem ipsum
        </p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button>Compartir</button>
        <button mat-button>Editar</button>
    </mat-card-actions>
</mat-card>