<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'side'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    <app-menu-superior></app-menu-superior>
</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav #sidenav="matSidenav" mode="side" opened="true">
        <img class="avatar mat-elevation-z8" src={{student.person.image}} />

        <h4 class="name">{{student | formatoNombreStudent:'nombre'}}</h4>
        <p class="designation">{{student | formatoNombreStudent:'role'}}</p>

        <mat-divider></mat-divider>

        <div *ngFor="let item of menuItems">
            <button mat-button class="menu-button" [routerLink]="item.route">
                <mat-icon>{{ item.icon }}</mat-icon>
                <span> {{ item.title }}</span>

            </button>
        </div>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet>

            </router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>