<div fxLayout="row wrap">

    <mat-card class="card" fxFlex.gt-lg="20%" fxFlex.lt-md="100%" *ngFor="let Curso of Cursos">
        <mat-card-header>
            <mat-card-title>{{Curso.name}}</mat-card-title>
            <mat-card-subtitle>{{Curso.difficulty}}</mat-card-subtitle>
        </mat-card-header>
        <img *ngIf="Curso.image != ''" mat-card-image src="{{Curso.image}}" alt="{{Curso.name}}">
        <mat-card-content>
            <p>
                {{Curso.description}}
            </p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="accent" routerLink="/courses/{{Curso.id}}" fxFlex.lt-md="100%">
                Ingresar</button>
        </mat-card-actions>
    </mat-card>


</div>