<h1 appEstiloPersonal>Formulario reactivo alta de estudiantes</h1>
<p>El formulario se encuentra dentro del componente students</p>
<ul>
    <li>Se utilizó directiva personalizada para los encabezados h1 y parrafos</li>
    <li>Se utilizó pipe personalizado para unir nombres de estudiantes</li>
    <li>La información en pantalla (falsa) se visualiza utilizando angular material</li>
    <li>Se muestra un listado (falso) de estudiantes</li>
    <li>Se pueden agregar nuevos</li>
    <li>Se puede modificar infromación</li>
    <li>Se puede eliminar</li>
    <li>Todo el ABM esta realizado con un modal, con la directiva se envian y reciben datos desde el modal</li>
</ul>