table {
    width: 100%;
    text-align: center;
}

tr,
td {
    border: 1px solid rgb(50, 103, 209);
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.enabled {
    background-color: #e0e0e0;
}

.disabled {
    background-color: #f0f0f0;
}