<h1>Formulario basado en Reactivo</h1>

<form class="row g-3" (ngSubmit)="guardarPersona()" [formGroup]="formularioPersona">
    <div class="col-md-12">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre"
            [ngClass]="formularioPersona.get('nombre')?.errors?.['required'] ? 'is-invalid':'is-valid'">
        <div *ngIf="formularioPersona.get('nombre')?.errors?.['required']" class="invalid-feedback">El campo nombre es
            requerido</div>

    </div>
    <div class="col-md-12">
        <label class="form-label">Apellido</label>
        <input type="text" class="form-control" formControlName="apellido"
            [ngClass]="formularioPersona.get('apellido')?.errors?.['required'] ? 'is-invalid':'is-valid'">
        <div *ngIf="formularioPersona.get('apellido')?.errors?.['required']" class="invalid-feedback">El campo apellido
            es
            requerido</div>
    </div>
    <div class="col-md-12">
        <label class="form-label">Edad</label>
        <input type="text" class="form-control" formControlName="edad"
            [ngClass]="formularioPersona.get('edad')?.errors?.['required'] ? 'is-invalid':'is-valid'"
            [ngClass]="formularioPersona.get('edad')?.errors?.['pattern'] ? 'is-invalid':'is-valid'">
        <div *ngIf="formularioPersona.get('edad')?.errors?.['required']" class="invalid-feedback">El campo edad es
            requerido</div>
        <div *ngIf="formularioPersona.get('edad')?.errors?.['pattern']" class="invalid-feedback">El campo edad debe ser
            numerico</div>
    </div>
    <div class="col-md-12">
        <button class="btn btn-primary" type="submit" [disabled]="formularioPersona.invalid">Agregar Persona</button>
    </div>
</form>
<br>

<div class="row">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let persona of listaPersonas">
            {{ persona.nombre }} {{ persona.apellido }} ({{ persona.edad }})
    </ul>
</div>